* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: black;
  color: white;
}
